*{
  margin: 0;
  padding: 0;
}


body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  font-family: Arial;
  text-align: center;
}

.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  height: 200px;
}

fieldset {
  border: 0;
  padding: 50px;

}

.campo {
  font-size: 20px;
  margin-bottom: 1em;
  display: block;
}


fieldset .botao {
  font-size:80px ;
  border-radius: 4px;  
}

fieldset .grupo .nomebrenome{
  width: 100px; 
}

input {
  height: 30px;
  width: 500px;    
}

