body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style:none ;
    font-size: 1.2rem;
    font-family: Arial;
}
h1{text-align: center;}
.container{background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;

}
.redes ul li {display:inline-flex ;}
.menu{background-color: #C4C4C4;
    display: flex;
     padding: 10px;}     


.campo{
  margin-bottom: 1em;
  text-align: center;
}


.campo label{margin-bottom: 0.2em;
display: block;}

fieldset .grupo .campo{float: left;
margin-right:1em ;}
.botao{font-size:25px ;
  ;
  border-radius: 4px;
  padding: 12px 18px;
  height: 100px;
  width:360px ;
}
.botao:hover{
  background-color: chartreuse;
 
}
#email{font-size: 20px;}
#senha{font-size: 20px;}
input[type=text] {
  height: 20px;
  width: 200px;
  }

.campo{font-size: 20px;}  

#cidade{font-size: 20px;}

form{
  display:block;
  text-align: center;

}

.preencha{

  text-align: center;
}

.col-12{
  text-align: center;
}

.endereco{
  text-align: justify-all;
  display: block;
  
}